/* RESET -------------------------*/
/* #region */
 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;
}


/* LINKS */
a {
  text-decoration: none;
  color: indigo;
  transition: color 1s;
 }

a:hover {
  color: aqua !important;
}


/* FORM ELEMENTS */
input {
  border: none;
}


/* TITLES */
h1,h2 {
  font-weight: bold;
}

/* #endregion */




/* BASIC FORMATTING
=================================*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size:1rem;
  line-height: 1.5;
  font-family: courrier, sans-serif;
  color: #212121;
}

ol, ul {
	list-style: none;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

img {
  width: 400px;
  height: 300px;
}

p {
  font-weight: 1em;
  ;
}


/* HELPER CLASSES
=================================*/

/* Typography *
------------------*/
.bold {
  font-weight: bold;
}

.line-h-1 {
  line-height: 1;
}

.line-h-1p5 {
  line-height: 1.5;
}

/* Colors *
------------------*/
.blue {
  color:#49757a;
}

.blue-H1 {
  color: #0f727d;
  }

.fs-1 {
  font: size 1rem;
}

.fs-2 {
  font: size 1.2rem;
}


/* IMAGES *
------------------*/
.img-head {
  height: 180px;
  width: 180px;
  border: 6px solid #fff;
}

.img-circle {
  border-radius: 50%;
}


/* MARGINS *
------------------*/
.m-t-1 {
  margin-top: 1rem;
  }
  
  .m-t-2 {
  margin-top: 1.25rem;
  }
  
  .m-t-3 {
  margin-top: 1.5rem;
  }
  
.m-b-1 {
  margin-top: 1rem;
}

.m-b-2 {
  margin-top: 1.25rem;
}

.m-b-3 {
  margin-top: 1.5rem;
}


/* PADDINGS *
------------------*/
.p-t-1{
  padding-top: 1rem;
}


/* FLEX *
------------------*/
.flex {
display: flex;
flex-direction: column;
}


/* BACKGROUNDS *
------------------*/
.background{
  background-color: cadetblue;
}



/* LAYOUT 
=================================*/




/* MEDIA QUERRIES
=================================*/
