/* RESET -------------------------*/
/* #region */
 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

/* #endregion */




/* MAIN TAGS FORMATTING
============================================================*/
/*#region MAIN TAGS*/
/* REFERENCE SIZE FOR FONTS
 * We can use html{} ou :root{}
----------------------------------------------*/

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* FONT - Default properties
----------------------------------------------*/
body {
  font-size:1rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  height: 100%;
 }

ol, ul {
	list-style: circle;
}


/* Titles
----------------------------------------------*/
h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif', serif;
  line-height: 1.75em;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1,h2,h3 {
  text-transform: uppercase;
}

p {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

tr {
  font-size: 1.2rem;
}

td {
  padding: 15px ;
}

pre {
  margin : 1,2em 0;
  max-width: 800px
}

/* IMAGES
----------------------------------------------*/
img {
  width: 100%;
  height: auto;
}


/* Main Tags
----------------------------------------------*/
aside {
  width: 20%;
  text-align: center;
}

main {
  width: 80%;
}

footer {
  text-align: center;
}

cite {
  font-family: 'Calligraffitti', cursive;
  font-size : 1.4rem;
  color: white;
}

/* LINKS 
----------------------------------------------*/
a {
  text-decoration: none;
  color: indigo;
  transition: color 1s;
  cursor: pointer;
 }

a:hover {
  color: yellow;
  text-decoration: underline;
}


/* FORM ELEMENTS 
----------------------------------------------*/
input {
  border: none;
}



/* HELPER CLASSES
============================================================*/

/* Typography *
------------------*/
.bold {
  font-weight: bold;
}

.line-h-1 {
  line-height: 1;
}

.line-h-1p5 {
  line-height: 1.5;
}

.figcaption {
   font-size: 1.2rem;
   }



/* Colors  and fonts
----------------------------------------------*/
.blue {
  color:#49757a;
}

.blue-H1 {
  color: #0f727d;
 }

.white {
  color : white;
}

.fs-1 {
  font: size 1rem;
}

.fs-2 {
  font: size 1.2rem;
}

ul {
  list-style: none;
}

aside header {
  color: white;
}


/* Images *
----------------------------------------------*/

.img-head {
  width: 180px;
  height: 180px;
  border: 4px solid #fff;
}

.img-circle {
  border-radius: 50%;
}

.img-article {
  max-width : 800px;
}

.icon {
  font-size: 30px;
  text-align: center;
  margin: auto 2em;
}

/* Flip an image */
img.flip:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img.img-head:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/* Margins *
----------------------------------------------*/
.m-t-1 {
  margin-top: 1rem;
  }
  
.m-t-2 {
  margin-top: 1.25rem;
}
  
.m-t-3 {
 margin-top: 1.5rem;
}
  
.m-b-1 {
  margin-top: 1rem;
}

.m-b-2 {
  margin-top: 1.25rem;
}

.m-b-3 {
  margin-top: 1.5rem;
}

.m-l-3 {
  margin-left: 1.5rem;
}


/* Paddings *
----------------------------------------------*/
.p-t-1{
  padding-top: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}
.p-b-1{
  padding-bottom: 1rem;
}

.p-b-2{
  padding-bottom: 2rem;
}

.padding-left {
  padding-left: 50px;
}

.padding-right {
  padding-right: 50px;
}

.padding {
  padding: 5px 0 20px;
}

.section-about {
  padding-top: 20px;
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


/* Buttons *
----------------------------------------------*/
.button {
  background-color: indigo;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1 rem;
  cursor: pointer;
}


/* BACKGROUNDS *
----------------------------------------------*/
.background{
 background: linear-gradient(90deg, #7e8184, #aeadb5, #bcb7b8 );
}


/* box-containers *
----------------------------------------------*/

.box-container {
  background-color: #d3cce3;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100% ;
}

.box-container2 {
  background-color: #d3cce3
  ;
  display: flex;
  flex-direction: column-reverse;
}

.space-around {
  justify-content: space-around;
}

.box-container3.section {
  background-color:grey;
  flex-direction: row;
  width: 100%;
  height: 100% ;
}

.section-img {
  display: flex;
  flex-wrap: wrap ;
  
}

i, a {
	margin: .2em 0;
}

.li-align {
  display : flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.cite-center {
  text-align : center;
  width: 100%;
  vertical-align: middle; 
  padding-top: 200px;
  padding-bottom: 200px;
}

.justify-content {
  justify-content: center;
}

/* 
Part for Mobile Menu 
--------------------------------------*/

/*Hide the nav*/
.sidenav {
display: none; 
width: 100px;
height: 150px;
}

ul.sidenav {
  list-style-type: none;
  height: 100px;
  background-color: blueviolet; 
 
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: yellow;
  color: black;
}

ul.sidenav li a:hover:not(.active) {
  background-color: indigo;
  color: black;
}

.sidenav-title {
  display: none;
  font-size: 1.2rem;
  padding-top: 0;
}

/* End part for Mobile Menu */


/* LAYOUT 
=================================*/




/* MEDIA QUERRIES
=================================*/

/*  Mobile version : no aside icons anymore  but a scrolldown menu on Top*/

@media ( max-width : 768px) {
main {background-color: linear-gradient(90deg, #7e8184, #aeadb5, #bcb7b8 ); 
      width : 100%;
      height: 100%;
      font-size: 0.8rem;
}

h1 {font-size:1rem;
}

cite {
  font-size : small;
}

aside {display: none;
}

.sidenav {display: block ;
          text-align: center; 
          float: none;
          margin-right: auto;
          margin-left: auto;
       
}

.mob-hidden {
  display: none;
}


@media ( max-width : 480 px) {
  body {background-color: linear-gradient(90deg, #7e8184, #aeadb5, #bcb7b8 );
        width : 100%; 
        height: 100%;
        font-size: 8px; 
        
  }
  
  h1, h2 {font-size: 10px;
  }

  cite {
    font-size : small;
  }

  aside {display: none;}
  }

  .sidenav {display: block;
            text-align: center;
            float: none;
            margin-right: auto;
            margin-left: auto;
           
  }

  .sidenav-title {display: block;
  }

  .mob-hidden {
    display: none;
  }

  #box-container {text-align : center;
  }


@media print {

body {
  font-family: serif;
  font-size: 11pt;
  background: none;
}

h1 {
  text-align: left;
  background: none;
}

}
}